body {
    width: 450px;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.logo, .phone, .copyright {
    background-color: #333333;
    color: white;
}

.logo, .phone, .about, .copyright, .links {
    padding: 10px 20px 10px 20px;
    border: 2px solid #cccccc;
}

.logo, .about {
    width: 230px;
}

.phone, .links {
    width: 110px;
}

/*=====================HEADER=================*/
.container header {
    min-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    float: left;
    font-weight: bold;
}

.phone {
    float: right;
    font-style: italic;
    color: #dedede;
}

.container header:after {
    content: "";
    display: block;
    clear: both;
}

/*=========CONTENT========*/
.about {
    float: left;
}

.about h1 {
    font-size: 20px;
}

.about p {
    font-size: 12px;
}

.links {
    float: right;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about, .links {
    background-color: #f5f5f5;
}

.main:after {
    content: "";
    clear: both;
    display: block;
}

/*=========FOOTER========*/
.copyright {
    margin-top: 20px;
}