.navbar button{
    border-color: transparent !important;
}
.smart-text{
    color: #fc7254;
}
.navbar-brand{
    color: #6f6f6f;
    border: 2px solid #6f6f6f;
    padding: 0 15px !important; 
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.first-block{
    min-height: 82vh;
    background: linear-gradient(white, #f5f5f5);
}
.heading-info h1{
    color: #6e6e6e;
}
.heading-info{
    margin: 10vh auto;
    width: 70%;
}
.navbar{
    box-shadow: 0 0 0 0;
}
#send-message{
    background-color: white;
    width: 30%;
    box-shadow: 2px 2px 39px 7px rgba(0,0,0,0.23);
}
.form-section{
    width: 100%;
    padding: 0.5rem 3rem 2rem 3rem;
}
.btn-send-message{
    background-color: #ff5c36;
    border-radius: 25px;
    color: white;
}
.second-block{
    min-height: 80vh;
    padding: 8rem 0;
    width: 100%;
}
.first-working-block{
    display: flex;
    align-items: center;
    width: 23%;
    flex-direction: column;
    justify-content: center;
    background-color: #4eb2f7;
    height: 15rem;
    padding-top: 4rem;
}
.second-working-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    background-color: #c049f8;
    height: 15rem;
    padding-top: 4rem;
}
.third-working-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    background-color: #817eff;
    height: 15rem;
    padding-top: 4rem;
}
.fourth-working-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    background-color: #f74770;
    height: 15rem;
    padding-top: 4rem;
}
.flex-wrapper{
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    color: white;
}
.button-know{
    width: 100%;
}
.second-block .btn-know-more{
    width: 80%;
    position: relative;
    bottom: -.5rem;
    height: 3rem;
    background-color: white;
    border-radius: 25px;
    color: grey;
}
.third-block{
    min-height: 50vh;
}
.third-block > .wrapper{
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third-block > .wrapper > div{
    width: 30%;
    height: 20rem;
    margin: 2rem 0;
}
.third-block > .wrapper > div > img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.third-block > .wrapper > div > img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.fourth-block{
    margin-top: 6rem;
    margin-bottom: 8rem;
    min-height: 60vh;
}
.fourth-block > .row{
    margin-top: 5rem;
}
.fourth-block > .row > div{
    min-height: 100px;
}
.fourth-block hr{
    color: #ff5c36;
    background-color: #ff5c36;
    width: 3rem;
    float: left;
    height: 2px;
    margin: 0;
}
.fourth-block > .row > .col-2 > img:nth-child(1){
    box-shadow: 1px -3px 46px -16px rgba(0,0,0,0.75);
}
.fourth-block .button-know{
    width: 40%;
}
.fourth-block .button-know .btn-know-more{
    width: 80%;
    height: 3rem;
    background-color: white;
    border-radius: 25px;
    color: grey;
}
.fifth-block .row > div:nth-child(2){
    background-color: #fff3f0;
}
.fifth-block .row {
    margin: 7rem 0;
}
.fifth-block .row > div{
    height: 45vh;
}
.fifth-block .row > div > img{
    width: 100%;
    height: 100%;
}
.caption-person{
    position: relative;
    width: 80%;
    height: 5rem;
    background-color: white;
    margin: 0 auto;
    bottom: 2rem;
    box-shadow: 0px 24px 27px -18px rgba(0,0,0,0.23);
}
.caption-person > h6{
    margin: 0;
}
.small-text{
    font-size: 14px;
    padding: 0 0 2rem 0;
}
.team-second-block-text{
    flex-direction: column;
    align-items: center;
}
.footer{
    height: 15rem;
    background-color: #f7f7f7;
}
.btn-contact-us{
    background-color: white;
    border-radius: 20px;
    width: 12rem;
}
.button-contact{
    padding: 3rem;
}
.social-group{
    justify-content: center;
    align-items: center;
}
.social-group > p{
    height: 40px;
}
.footer-logos{
    min-height: 15vh;
    justify-content: space-between;
}
.footer-logos > img{
    height: 30px;
}
h2{
    font-weight: bold;
}
.social-img-container{
    justify-content: center;
}
.team-second-block-text{
    padding-top: 40%;
}
.team-second-block-text > img:nth-child(3){
    padding-bottom: 30%;
}
.social-logo-footer{
    position: relative;
    bottom: 18px;
}