.container {
    width: 100%;
    height: 946px;
    background: url("./Images/4.png") no-repeat 910px 570px,
    url("./Images/2.png") no-repeat 990px 345px,
    url("./Images/1.png") no-repeat 0 bottom,
    url("./Images/3.png") no-repeat 780px 360px,
    url("./Images/5.png") no-repeat 270px 300px,
    url("./Images/6.png") no-repeat 240px 160px,
    url("./Images/0.png") no-repeat;
}