.block1 {
    width: 1280px;
    margin: 0 auto;
    background: url("./Images/0.png") no-repeat;
}

.block2 {
    background: url("./Images/5.png") no-repeat 270px 300px;
}

.block3 {
    background: url("./Images/2.png") no-repeat 990px 345px;
}

.block4 {
    background: url("./Images/3.png") no-repeat 780px 360px;
}

.block5 {
    background: url("./Images/1.png") no-repeat 0 bottom;
}

.block6 {
    background: url("./Images/4.png") no-repeat 910px 570px;
}

.block7 {
    height: 946px;
    background: url("./Images/6.png") no-repeat 240px 160px;
}