* {
    box-sizing: border-box;
}

.my-flex-container-task1 {
    display: flex;
    background-color: #2696e8;
    justify-content: flex-end;
    color: white;
    font-size: 20px;
    border: 1px solid #1212ff;
}

.wrapper {
    display: flex;
    background-color: #2696e8;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: calc(4*250px);
}

.my-flex-block {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-basis: 250px;
}

.my-flex-block:hover {
    background-color: white;
    color: #2696e8;
    transition: .5s;
}