p {
    color: green;
    text-align: center;
}

.firstP, .thirdP {
    color: red;
}

#secondP {
    color: purple;
}

a {
    color: red;
}

.menu ul {
    list-style-type: none;
}

.menu ul a {
    color: purple;
}

.menu a {
    color: green;
}

.berries {
    list-style-type: square;
}

.berries a {
    text-decoration: none;
}
