.container {
    display: flex;
    flex-direction: column;
    font-family: "Calibri", sans-serif;
    margin-left: 20px;
}

.title:before {
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    content: "\f0c0";
    font-size: 26px;
    margin-right: 5px;
}

.title > h1 {
    display: inline-block;
}



.graduates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 65vh;
    max-width: 750px;
    margin-top: 10px;
}

.graduates::after {
    clear: both;
    display: block;
    content: "";
}


.photo-card {
    text-align: center;
    float: left;
    width: 220px;
    height: 220px;
}

.photo img {
    border-radius: 50%;
}

.author {
    display: block;
    text-align: right;
    font-style: normal;
    margin-top: 4px;
}

.job {
    text-align: center;
    font-size: 13px;
    font-style: italic;
}

.job .location {
    display: block;
}



.quote-card {
    font-size: 14px;
    font-style: italic;
}

.quote {
    width: 350px;
    padding: 8px 48px;
    position: relative;
    float: right;
}

.curly-quotes:before,
.curly-quotes:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('./Img/quote.png');
    content: '';
}

.curly-quotes:before {
    top: 0;
    left: 0;
    background-position: 0 0;
}

.curly-quotes:after {
    bottom: 0;
    right: 0;
    background-position: -20px 0;
}