.my-flex-container-task1{
    display: flex;
    background-color: #2696e8;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    border: 1px solid #1212ff;
}
.my-flex-container-task1 .my-flex-block{
    align-items: center;
}
.my-flex-block{
    display: flex;
    padding: 0 10px;
}
.my-flex-block:hover{
    background-color: white;
    color: #2696e8;
    transition: .5s;
}
.my-flex-container-task2{
    display: flex;
    background-color: #2696e8;
    width: 100%;
    height: 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    border: 1px solid #1212ff;
    margin: 20px 0;
}
.my-flex-container-task2 .my-flex-block{
    align-items: center;
}
.my-flex-container-task3{
    display: flex;
    background-color: #2696e8;
    border: 1px solid #1212ff;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
.my-flex-container-task3 .my-flex-block{
    border: 1px solid #1212ff;
    padding: 10px;
}
.my-flex-container-task3{
    display: flex;
    background-color: #2696e8;
    border: 1px solid #1212ff;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
.my-flex-container-task4{
    display: flex;
    background-color: #2696e8;
    border: 1px solid #1212ff;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
.my-flex-container-task4 .my-flex-block{
    border: 1px solid #1212ff;
    padding: 10px;
}
.my-flex-container-task5{
    display: flex;
    background-color: #2696e8;
    border: 1px solid #1212ff;
    color: white;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
.my-flex-container-task5 .my-flex-block{
    border: 1px solid #1212ff;
    padding: 10px;
}
.my-flex-container-task6{
    display: flex;
    background-color: #2696e8;
    border: 1px solid #1212ff;
    color: white;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
.my-flex-container-task6 .my-flex-block{
    border: 1px solid #1212ff;
    padding: 10px;
}
.my-flex-container-task7{
    display: flex;
    background-color: #2696e8;
    width: 100%;
    height: 100px;
    justify-content: center;
    color: white;
    font-size: 20px;
    border: 1px solid #1212ff;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}
.my-flex-container-task7 .my-flex-block{
    padding: 10px;
}
.my-flex-container-task8{
    display: flex;
    background-color: #2696e8;
    width: 100%;
    height: 180px;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 20px;
    border: 1px solid #1212ff;
    flex-wrap: wrap;
    align-items: stretch;
}
.my-flex-container-task8 .my-flex-block{
    border: 1px solid #1212ff;
    padding: 10px;
}

