body {
    margin: 0;
    padding: 0;
}

.container {
    background: url("Img/gulls-3135962_960_720.jpg") no-repeat 30% 20%;
    background-size: cover;
    padding: 10px;
    width: 540px;
    font-size: 21px;
}

.recipe {
    border-left: 3px solid red;
    border-top: 3px solid blue;
    border-bottom: 3px solid green;
    border-right: 3px solid yellow;
}

.recipe header {
    color: red;
    text-align: center;
    font-size: 31px;
    white-space: nowrap;
    display: inline-block;
}

.recipe > header h1 {
    margin: 0;
}


.recipe .list {
    color: yellow;
    margin-left: 20px;
}

.recipe .list .sugar {
    text-decoration: underline;
}

.recipe hr {
    background-color: white;
    border-top: 1px solid gray;
}

.recipe .post-Scriptum {
    color: blue;
}

.recipe .post-Scriptum::first-line {
    font-style: italic;
    color: white;
}

.img {
    margin: 23px 0 5px 22px;
    width: 360px;
}

.img > a > img {
    height: 100%;
    width: 100%;
    background-size: contain;
}


