body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    list-style-type: none;
    display: inline-block;
}

.nav li > a {
    text-decoration: none;
    border: 3px solid #B0C7D8;
    border-radius: 5px;
    padding: 20px;
    color: #877160;
    font-size: 30px;
}

.nav li > a:hover {
    background-color: #607788;
    color: #fff;
    transition: 0.4s;
}

.nav {
    display: block;
}

.nav li + li > a {
    margin-left: 25px;
}