body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
	width: 700px;
	margin: auto;
}
.logo{
	width: 300px;
	margin: auto;
	height: 150px;
	border-radius: 5px;
	background: linear-gradient(to top left, powderblue, pink);
}
.navigation_menu li{
	display: inline-flex;
	justify-content: space-between;
	list-style-type: none;
}
.navigation_menu{
	margin: auto;
}
.main_logo{
	position: relative;
	left: 180px;
	top: -70px;
	display: flex;
	flex-wrap: wrap;
	width: 100px;
	height: 100px;
}
.main_logo div:nth-child(2){
	background-color: white;
	border-top-right-radius: 20px; 
}
.main_logo div:nth-child(3){
	background-color: white;
	border-bottom-left-radius: 20px; 
}
.main_logo div{
	height: 50px;
	width: 50px;
}
.main_logo div:nth-child(3n+1){
	background-color: lightblue;
}
.text_info p{
	font-size: 30px;
	text-shadow: 2px 2px 4px #000000;
	margin: 0;
	padding: 30px 0 0 20px;
}
.nav{
	margin-top: 35px;
}
.nav li {
    list-style-type: none;
    display: inline-block;
}

.nav li > a {
    text-decoration: none;
    border: 3px solid #B0C7D8;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: grey;
    color: white;
}

.nav li > a:hover {
    background-color: #607788;
    color: #fff;
    transition: 0.4s;
}

.nav {
    display: block;
}

.nav li + li > a {
    margin-left: 65px;
}
.info{
	width: 85%;
	margin: 50px auto;
	border-radius: 5px;
	height: 483px;
	background-color: lightpink;
	box-shadow: 4px 3px 4px 3px black;
}
.info p{
	background: linear-gradient(to right, green, yellow);
	margin: 0;
	font-size: 22px;
}
.info p:nth-child(2n){
	background: linear-gradient(to left, green, yellow);
}
.info p:nth-child(1){
	border-radius: 5px 5px 0 0;
}
.info p:nth-last-child(1){
	border-radius: 0 0 5px 5px;
}
.nav a:nth-child(2):hover { 
  box-shadow: 2px 2px white, 4px 4px #C76637;
}