body{
	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
.date_time{
	position: relative;
	top: 10px;
	left: 30px;
}
.date_year{
	position: relative;
	top: -35px;
	left: 630px;
	width: 50px;
}
.now_time{
	position: relative;
	font-size: 30px;
	top: -60px;
	left: 200px;
}
.main{
	width: 700px;
	background-image: linear-gradient(to right, #b9b9b9 0%, #a5a5a5 45%, #e8e8e8 100%);
}
#small_letters{
	font-size: 15px;
}
.black_info{
	position: relative;
	width: 200px;
	height: 220px;
	background-color: black;
	left: 260px;
	top: -70px;
	box-shadow: 7px 7px 15px 2px #626262;
	z-index: 1;
}
.text_zhytomyr{
	color: white;
	position: relative;
	font-size: 12px;
	left: 8px;
	top: -45px;
}
.black_info > a{
	position: relative;
	left: 128px;
	top: -45px;
}
.degree_info{
	position: relative;
	color: #858585;
	font-size: 55px;
	font-weight: bold;
	top: 70px;
	left: -60px;
	top: 130px;
}
.black_info > a > img{
	width: 15px;
	height: 15px;
}
.black_block_date{
	position: relative;
	color: #444444;
	font-size: 12px;
	top: 150px;
}
.navigation_menu > a{
	position: relative;
	width: 30px;
	height: 20px;
}
.navigation_menu > a > img{
	position: relative;
	width: 35px;
	height: 24px;
	top: 3px;
}
.navigation_menu{
	position: relative;
	background-color: #949494;
	border-radius: 2px;
	box-shadow: 0 0 4px 1px #747474;
	width: 75px;
    left: 221px;
    top: -230px;
    opacity: .7;
    z-index: 2;
}
.cloud{
	position: relative;
	left: 325px;
	top: -280px;
	z-index: 2;
}
.cloud img{
	margin: auto;
	width: 220px;
	height: 140px;
}
.date_block{
	background-color: #c1c1c1;
	width: 180px;
	height: 120px; 
	position: relative;
	left: 380px;
	top: -290px;
	z-index: 0;
	box-shadow: 3px 3px 0 1px #868686;
}
.date_block > a{
	position: relative;
	left: 163px; 
}
.date_block > a > img{
	width: 15px;
	height: 15px;
}
.calendar_days{
	position: relative;
	top: 20px;
	font-size: 10px;
	color: #959595;
}
.calendar_days span{
	margin-left: 15px;
}
.calendar_degree{
	font-size: 12px;
	font-weight: 600;
	position: relative;
	top: 10px;
}
.calendar_degree span{
	margin-left: 15px;
}
.wrap {
	position: relative;
	top: -340px;
	left: -70px;
}
.button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 auto; 
	background: radial-gradient(farthest-side ellipse at top left, #676767, black);
	
}

