.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    display: inline-block;
}

.rect polygon {
    fill: none;
}

.rect polygon:nth-child(1) {
    stroke: yellowgreen;
    stroke-width: 5;
}

.rect polygon:nth-child(2) {
    stroke: gold;
    stroke-width: 10;
}

.rect polygon:nth-child(3) {
    stroke: lightseagreen;
    stroke-width: 30;
    stroke-opacity: .5;
}